.main_menu_container{
    -fx-background-color: #eeee;
    -fx-alignment:center;
}

.left_container{
    -fx-background-color:#eeee;
    -fx-background-radius:10;
    -fx-effect:dropshadow(two-pass-box,#AAAAAA,5,0,0,4);
}

.title_container{
    -fx-background-color:#eeee;
    -fx-background-radius:20 20 0 0;
    -fx-alignment:top_center;
    -fx-padding:10;
}

.title_container Text {
    -fx-fill: #000000;
    -fx-font-size:2em;
}

.menu_container{
    -fx-padding: 10 10 10 20 ;
    -fx-spacing: 20;
}

.menu_container Button{
    -fx-pref-width:130;
    -fx-pref-height:40;
    -fx-background-color:#ffff;
    -fx-font-size:1.1em;
    -fx-alignment:center_left;
    -fx-effect: dropshadow(three-pass-box , #DDDDDD ,5,0,0,6);
}

.currentButton{
    -fx-pref-width:130;
    -fx-pref-height:40;
    -fx-text-fill:white;
    -fx-background-color: rgb(21,123,241);
    -fx-font-size:1.1em;
    -fx-alignment:center_left;
    -fx-effect: dropshadow(three-pass-box , #DDDDDD ,5,0,0,6);
}

.menu_container Button:hover{
    -fx-cursor:hand;
    -fx-text-fill:white;
    -fx-background-color:rgb(21,123,241);
}

.text_logout{
    -fx-alignment:center;
    -fx-background-color:rgb(21,123,241);
}

.text_logout:hover{
    -fx-alignment:center;
    -fx-background-color:rgb(21,123,260);
}