.logo-panel{
    -fx-background-color:  linear-gradient(from 25% 25% to 100% 100%, rgba(74,141,222,1) 21%, rgba(37,87,218,1) 39%);
}

.submit-btn{
    -fx-background-color: rgb(21,123,241);
}

.submit-btn:hover{
    -fx-background-color: rgb(21,123,241);
    -fx-cursor: hand;
}

.to-login-btn{
    -fx-background-color: white;
}

.to-login-btn:hover{
    -fx-background-color: white;
    -fx-cursor: hand;
}

.main-panel{
    -fx-background-color: white;
}

.error-text{
    -fx-text-fill: red;
}